.root
{
    -fx-background-color: #f3f3f9;
    -fx-font-smoothing-type: lcd;
    
}

#ventana-principal{
	-fx-border-insets: 23;
    -fx-background-insets: 23;
	-fx-background-radius: 6;
 	-fx-border-radius: 6;
	-fx-border-color: rgba(255, 255, 255, 1);
	-fx-border-style: solid;
	-fx-border-width: 1;
	-fx-effect: dropshadow(three-pass-box, rgba(229, 229, 229, 0.8), 24, 0.5, 0, 0);
	-fx-background-color: linear-gradient(to bottom, white 30%, #eae9e9);
}
#cTitulo {
    -fx-background-color: #3e3e3e;
    -fx-padding: 15;
    -fx-spacing: 10;
	-fx-border-radius: 6 6 0 0;
	-fx-background-radius: 6 6 0 0;
}

#ventana-titulo{
	-fx-text-fill: white;
}

#barra{
	-fx-background-color: #3e3e3e;
	-fx-border-radius: 0 0 6 6;
	-fx-background-radius: 0 0 6 6;
	-fx-text-fill: linear-gradient(white, #FFFAF0);
}

#aceptar{
	-fx-background-color: #3e3e3e;
	-fx-background-insets: 0;
	-fx-background-radius: 5;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.0) , 5, 0.5 , 1.0 , 1 );
	-fx-border-radius: 5;
	-fx-text-fill: white;
	-fx-font-size: 13;
	-fx-cursor:hand;
}


#cancelar{
	-fx-background-color: #3e3e3e;
	-fx-background-insets: 0;
	-fx-background-radius: 5;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.0) , 5, 0.5 , 1.0 , 1 );
	-fx-border-radius: 5;
	-fx-text-fill: white;
	-fx-font-size: 13;
	-fx-cursor:hand;
}


#Nuevo-Usuario{
	-fx-background-color: #3e3e3e;
	-fx-background-insets: 0;
	-fx-background-radius: 5;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.0) , 5, 0.5 , 1.0 , 1 );
	-fx-border-radius: 5;
	-fx-text-fill: white;
	-fx-font-size: 13;
	-fx-cursor:hand;
}